<% model_class = Employee %>
<% title model_class.to_s %>
<%= link_to "New Employee", new_employee_path, :class => "small button"%>
<table>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th>Projects</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
   <% for e in @employees %>
      <tr>
         <td><%= e.name%></td>
         <td>
            <% for p in e.projects %>
               <p><%= link_to p.name, customer_path(p.customer)%></p>
            <% end %>
         </td>
         <td>
            <%= link_to 'Show', employee_path(e), :class => "tiny button"%>
            <%= link_to 'Edit', edit_employee_path(e), :class => "tiny button"%>
            <%= link_to 'Dashboard', summary_by_employee_path(e), :class => 'tiny button'%>          
            <%= link_to 'Erase Days', erase_employee_path(e), :method => :post, :class => 'tiny button'%>   
         </td>
      </tr>
   <% end %>
   </tbody>
</table>