<%= render :partial => 'shared/employee_hrd' %>

<% for cust in @employee.customers %>
  <h3 class="subheader"><%= cust.name %></h3>
  
  <% for cust_proj in @employee.viewable_customer_projects(cust)%>
    <div class=<%=cust_proj.name%>>  
      <h3 class="subheader"><%= link_to cust_proj.name, new_employee_assignment_path(@employee, project_id: cust_proj.id), :remote => true %></h3>
      <div id='<%=cust_proj.hyphenise_name%>' class='time-form'></div>
    </div>
  <% end %>
  
<% end %>
