<div class="row">
  <h4 class="subheader"><%= @project.name %></h4>
	<%= form_tag(date_employee_assignment_path(@employee, @project), :class => "custom", :remote => true) do %>
  		<div class="small-3 columns">
			<%= text_field_tag :date_opt, nil, :id => "date-picker-#{@project.hyphenise_name}", :placeholder => "New Date" %>
		</div>
  		<div class="small-9 columns">		
	    	<%= submit_tag 'Submit', :class => 'button small' %>
			<%= link_to 'Go To Today', date_employee_assignment_path(@employee, @project, :date_opt => Date.today), :remote => true, :method => :post, :class => 'button small' %>	
			<%= link_to '<', date_employee_assignment_path(@employee, @project, :date_opt => @date - 1), :remote => true, :method => :post, :class => 'button small' %>	
			<%= link_to '>', date_employee_assignment_path(@employee, @project, :date_opt => @date + 1), :remote => true, :method => :post, :class => 'button small' %>	
	  </div>
	<% end %>
</div>
<div class="row">
	<div class="small-3 columns">
		<h4 class='subheader center inline'><%= "#{@date} (#{@date.strftime("%a")})" %></h4>
	</div>
	<div class="small-9 columns">
		<%= link_to '1hr', calc_employee_assignment_path(@employee, @project.id, :hour => "1", :date => @date), :class => 'button small', :method => :post, :remote => true %>
		<%= link_to '2hr', calc_employee_assignment_path(@employee, @project.id, :hour => "2", :date => @date), :class => 'button small', :method => :post, :remote => true %>
		<%= link_to '4hr', calc_employee_assignment_path(@employee, @project.id, :hour => "4", :date => @date), :class => 'button small', :method => :post, :remote => true %>
		<%= link_to '6hr', calc_employee_assignment_path(@employee, @project.id, :hour => "6", :date => @date), :class => 'button small', :method => :post, :remote => true %>
		<%= link_to '8hr', calc_employee_assignment_path(@employee, @project.id, :hour => "8", :date => @date), :class => 'button small', :method => :post, :remote => true %>
	</div>
</div>
<%= form_tag(calc_employee_assignment_path(@employee, @project), :class => "custom", remote: true) do %>
	<%= hidden_field_tag 'project', @project.id %>
	<%= hidden_field_tag 'date', @date %>	
	<div class="row">
		<div class="small-3 columns">
		    <%= label_tag 'Custom', nil , class: "right inline" %>
		  </div>
		<div class="small-9 columns">
			<%= number_field_tag('custom_num', @employee.project_entry_for_day(day: @date, project: @project).try(:hours), :in => 0..15, :step => 0.5) %>
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
		    <%= label_tag 'Fill?', nil , class: "right inline" %>
		  </div>
		<div class="small-9 columns">
			<%= check_box_tag('fill', '1', false) %>
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
		    <%= label_tag 'fill_value', nil , class: "right inline" %>
		  </div>
		<div class="small-9 columns">
			<%= number_field_tag('fill_value', nil, :in => 1..15) %>
		</div>
	</div>

	<div class="row">
		<div class="small-3 columns">
		    <%= label_tag 'Note', nil , class: "right inline" %>
		  </div>
		<div class="small-9 columns">
			<%= text_field_tag('note', @employee.project_entry_for_day(day: @date, project: @project).try(:note)) %>
		</div>
	</div>

   <% for code in @project.costcodes %>
   	<div class="row">
         <div class="small-9 columns">         
            <%= label_tag "#{code.code}: #{code.name}" %>
         </div>
         <div class="small-3 columns">                  
            <%= number_field_tag("costcodes[#{code.id}]", @employee.cost_code_entry_by_day(day: @date, project: @project, code: code), :in => 0..15, :step => 0.5) %>
         </div>
      </div>
   <% end %>

	<div class="row">
	  <div class="small-9 small-offset-3 columns">
	    <%= submit_tag 'Submit', :class => 'button small' %>
	  </div>
	</div>
<% end %>
