<ul class="nav nav-pills">

  <li class="nav-item">
    <%= link_to 'Timesheet', by_employee_path(@employee, :state => :timesheet), class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to 'Timesheet', by_employee_path(@employee, :state => :timesheet), class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to 'List', assignments_employee_path(@employee), class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "List Claims", employee_claims_path(@employee), class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to 'List', customers_path, class: "nav-link" %>
  </li>

</ul>
