<div class="row">
   <div class="small-2 columns">
      <h2 class="subheader"><%= link_to @employee.name, employee_path(@employee) %></h2>
   </div>
   <div class="small-6 columns">
      <dl class="sub-nav">
         <dl class="sub-nav">
            <dd class=<%= test_location(params, :show) %>><%= link_to 'Add Time', employee_path(@employee) %></dd>
            <dd class=<%= test_location(params, :summary_all) %>><%= link_to 'Summary-All', summary_by_employee_path(@employee) %></dd>
            <dd class=<%= test_location(params, :timesheet) %>><%= link_to 'Timesheet', by_employee_path(@employee, :state => :timesheet) %></dd>
            <dd id="setdate"><%= link_to 'Set Date', date_by_employee_path(@employee), :remote => true %></dd>
            <dd class=<%= test_location(params, :projsummary)%> ><%= link_to 'Project Summary', totals_by_employee_path(@employee) %></dd>         
         </dl>
      </dl>
   </div>
   <div class="small-4 columns">
      <div class="row" id="date-form">
      </div>
      
   </div>
</div>
