<div id="day-form" title="day" style="display:none"></div>
<table>
   <thead>
      <tr>
         <th>Assignment</th>
         <% for day in @dash.day_range %>
            <th>
               <p><%= day.strftime('%d %b') %></p>
               <p><%= day.strftime('%a')%></p>
            </th>
         <% end %>
         <th><h3 class="subheader">Total</h3></th>
      </tr>
   </thead>
   <tbody>
      <% sum_proj = @dash.calc_summary.summ_by_project %>
      <% for proj in sum_proj %>
        <tr>
          <td>
             <h4 class="subheader"><%= proj[:project].customer.name %></h4>
             <h5 class="subheader"><%= proj[:project].name %></h5>
          </td>      
          <% for day in @dash.day_range %>
             <td>
                  <% entry = @dash.entry(day: day, project: proj[:project]) %>
                  <%= render 'shared/time_table_cell', entry: entry,  proj: proj[:project], day: day %>
             </td>
          <% end %>
          <td class="subheader"><%= @dash.proj_total[proj[:project].id] %></td>
        </tr>
        <% for code in proj[:project].costcodes %>
           <tr>
              <td><h7 class="subheader"><%= code.name %></h7></td>
             <% for day in @dash.day_range %>
                <td>
                   <%= render 'shared/time_table_cost_cell', proj: proj[:project], day: day, code: code %>
                </td>
             <% end %>              
            </tr>
         <% end %>
      <% end %>
      <tr>
         <td><h2 class="subheader">Totals</h2></td>
         <% for day in @dash.day_range %>
            <td>
               <h3 class="subheader">
                  <div id="<%= "total-#{day}" %>">
                     <%= @dash.total_for_day(day) %>
                  <div>
               </h3>
            </td>
         <% end %>
         <td>
            <h3 class="subheader">
               <div id="total">
                  <%= @dash.overall_total %>
               </div>
            </h3>
         </td>         
      </tr>
   </tbody>
</table>