<% model_class = Customer %>
<% title model_class.to_s %>
<%= link_to "New Customer", new_customer_path, :class => "small button"%>
<table>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th>Projects</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
	<% for c in @customers %>
    	<tr>
      	<td><%= c.name%></td>
			<td>
				<% for p in c.projects %>
					<p><%= link_to "#{p.name}", customer_project_path(c,p)%></p>
				<% end %>
			</td>
			<td>
				<%= link_to 'Show', customer_path(c), :class => "tiny button"%>
				<%= link_to 'Edit', edit_customer_path(c), :class => "tiny button"%>
				<%= link_to 'New Project', new_customer_project_path(c), :class => "tiny button"%>
        <%= link_to 'Invoice', invoice_customer_path(c, state: :invoice), :class => "tiny button"%>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>