<%= form_for([@customer,@project]) do |f| %>
	<div class="row">
	  <div class="small-3 columns">
	    <%= f.label :name, class: "right inline", title: "A name for the project, must be unique", data: {tooltip: true } %>
	  </div>
	  <div class="small-9 columns">
	    <%= f.text_field :name %>
	  </div>
	</div>
	<div class="row">
	  <div class="small-3 columns">
	    <%= f.label :desc, class: "right inline" %>
	  </div>
	  <div class="small-9 columns">
	    <%= f.text_field :desc %>
	  </div>
	</div>
	<div class="row">
	  <div class="small-3 columns">
	    <%= f.label :billable, class: "right inline" %>
	  </div>
	  <div class="small-9 columns">
	    <%= f.check_box :billable %>
	  </div>
	</div>

	<div class="row">
	  <div class="small-9 small-offset-3 columns">
	    <%= f.submit %>
	  </div>
	</div>
<% end %>