<%= render :partial => 'shared/employee_hrd' %>
<%= link_to 'Refresh Totals', calc_totals_by_employee_path(@employee), :class => "small button", :method => :post%>
<div class="row">
   <div class="small-4 columns">
      <h3 class="subheader">Billable U</h3>
   </div>
   <div class="small-4 columns">
      <h3 class="subheader"><%= number_to_percentage(@employee.billable_u, :precision => 2) %></h3>
   </div>
   <div class="small-4 columns">
      <h3 class="subheader">Refreshed: <%= @employee.summ_refresh_date.in_time_zone("Wellington") %></h3>
   </div>
</div>
<table>
   <thead>
      <tr>
         <th>Customer</th>
         <th>Assignment</th>
         <th>Total Hours</th>
         <th>Duration</th>
         <th width="100">Start Date</th>
         <th width="100">End Date</th>
         <th>Utilisation</th>
         <th width="100">Average Effort (hours/week)</th>
         <th>Total Earnings </th>
      </tr>
   </thead>
   <tbody>
      <% for proj in @employee.projsummaries %>    
         <tr>
            <td><%= proj.assigned_project.customer.name %></td>
            <td><%= proj.assigned_project.name %></td>            
            <td><%= proj.total_hours %></td>
            <td><%= proj.duration %></td>            
            <td><%= proj.start_date %></td>
            <td><%= proj.end_date %></td>
            <td><%= number_to_percentage(proj.total_utilisation, :precision => 2) %></td>
            <td><%= number_with_precision(proj.avg_effort, precision: 2)   %></td>
            <td><%= proj.total_earnings   %></td>            
         </tr>
      <% end %>
   </tbody>
</table>