<h2 class="subheader"><%= link_to @employee.name, employee_path(@employee) %></h2>
<table>
	<thead>
		<tr>
			<th>Assignment</th>
			<% for day in @employee.day_range %>
				<th><%= day %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% for proj in @employee.projects %>
			<tr>
				<td><%= proj.name%></td>
				<% for day in @employee.day_range %>
					<td><%= @employee.project_hours_by_day(:project_id => proj.id, :date => day) %></td>
				<% end %>
			</tr>
		<% end %>
		<tr>
			<td>Totals</td>
			<% for day in @employee.day_range %>
				<td><%= @employee.total_hours_by_day(:date => day) %></td>
			<% end %>
		</tr>
	</tbody>
</table>