<%= render :partial => 'shared/employee_hrd' %>
<h2 class="subheader"></h2>
<table>
	<thead>
		<tr>
			<th>Assignment</th>
			<% for day in @dash.day_range %>
				<th>
					<p><%= day.strftime('%d %b') %></p>
					<p><%= day.strftime('%a')%></p>
				</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% for sum_line in @dash.calc_summary.summ_by_project %>
			<tr>
				<td><%= sum_line[:project].name %></td>
				<% sum_line[:dates].each  do |date, hours| %>
					<td><%= hours == 0 ? "" : hours %></td>
				<% end %>
			</tr>
		<% end %>
		<tr>
			<td>Totals</td>
			<% @dash.day_total.each do |day, tot| %>
				<td><%= tot %></td>
			<% end %>
		</tr>
	</tbody>
</table>