<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="icon-bar six-up">
      <a class="item">
        <i class="fi-home"></i>
        <label>Home</label>
      </a>
      <% if @current_user %>
        <%= link_to(loads_path, class: "item") do %>
          <i class="fi-dollar"></i>
          <label>Loads</label>
        <% end %>     
      <% end %> 
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>