<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Timemachine" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="navbar navbar-default">

      <div class="container-fluid">

        <nav class="navbar navbar-inverse bg-inverse">

          <%= link_to root_path, class: "navbar-brand" do %>
            Timemachine
            <%= image_tag "timemachine.svg", width: "160", height: "30", alt:""%>
            <!-- </a> -->
          <% end %>

          <ul class="nav navbar-nav">

            <li class="nav-item">
              <%= yield :page_header if content_for?(:page_header) %>
            </li>

            <% if current_user && current_user.employee %>
            <li class="nav-item pull-xs-right">

              <li class="nav-item pull-xs-right">
                <%= link_to 'Sign out', "#", class: "nav-link"%>
              </li>
              <li class="nav-item pull-xs-right">
                <%= current_user.name %>
              </li>
            <% end %>
          </ul>
        </nav>

      </div>

    </nav>

    <div class="container">
      <%=  render 'shared/employee_top_nav' %>

      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>

  </body>
</html>
